name: Test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions: read-all

jobs:
  build:
    name: Perform check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    if: github.repository == 'FajarKim/node-openssl-enc'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install package
        run: npm install

      - name: Testing code
        run: |
          export NODE_OPTIONS=--openssl-legacy-provider
          npm test
