name: Test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions: read-all

jobs:
  build:
    name: Perform check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    if: github.repository == 'FajarKim/node-openssl-enc'

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install package
        run: npm install

      - name: Testing code
        run: |
          export NODE_OPTIONS=--openssl-legacy-provider
          npm test
